@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "inter", sans-serif;
    background: url(https://i.pinimg.com/originals/d4/d4/d8/d4d4d8855ba3825c8e1c0357771e58e7.gif) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    background-color: rgba(200, 3, 3, 0.567);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px red;
}
.container h1 {
    color: rgb(243, 157, 96);
    margin-bottom: 30px;
    text-align: center;
}
.container a{
    text-decoration: underline;
    color: orange;
}
.form-control{
    position: relative;
    margin: 22px 0;
}
.form-control input{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.form-control input:focus{
    outline: none;
    border-bottom-color: orange;
}
.form-control input:valid{
    outline: none;
    border-bottom-color: rgb(3, 255, 3);

}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 70px;
    background-color: rgb(255, 123, 0);
    color: rgb(238, 255, 0);
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 5px;
    font-family: inherit;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.95); 
}
.text{
    font-size: 18px;
}

.text a:hover{
    text-shadow: 3px 3px 7px rgb(0, 0, 0);
}
.form-control label{
    position: absolute;
    top: 10px;
    left: 5px;

}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s linear;
}
.form-control input:focus + label span, .form-control input:valid + label span{
    color: #999;
    transform: translateY(-30px);
}











